<html>
  <head>
	<title> {{title}} - weatherblog </title>
  </head>
  <body>

  	<div class="input">
	<form action="http://localhost:5000/home" method="POST">
		<table>
		<tr>
			<td class="headers"> 
				Начало периода
			</td>
			<td class="headers">
				Конец периода
			</td>
			<td class="headers">
				Город
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" name="start_date"/>
			</td>
			<td>
				<input type="text" name="end_date"/>
			</td>
			<td>
				<input type="text" name="city_name"/>
			</td>
			<tr>
			<td colspan="3">
				<input class="button" type="submit" value="Получить статистику"/>
			</td>
			</tr>
		</tr>
		</table>
	</form>
	</div>
	
	<div class="output">
	<table>
	<caption> <h2> Результат запроса </h2> </caption>
	<tr>
		<td class="headers" colspan="2">В городе: {{post_var.city_name}} с {{post_var.start_date}} по  {{post_var.end_date}} </td>
	</tr>
	<tr>
		<td class="headers" colspan="2">Температура</td>
	</tr>
	<tr>
		<td>Минимальная температура за период (C<sup>0</sup>)</td>
		<td><div class="result"> {{ result.min_temp }} </div></td>
	</tr>
	<tr>
		<td>Средняя температура за период (C<sup>0</sup>):</td>
		<td><div class="result"> {{ result.average_temp }} </div></td>
	</tr>
	<tr>
		<td>Максимальная температура (C<sup>0</sup>):</td>
		<td><div class="result"> {{ result.max_temp }} </div></td>
	</tr>
	
	{% if result.temp_by_years %}
		<tr> 
			<td class="headers" colspan="2">Показатели температуры по годам</td>
		</tr>
		{% for year in result.temp_by_years %}
		<tr>
			<td> {{ year[0] }} год </td>
			<td><div class="result"> min {{ year[2] }}, max {{ year[1]}} </div></td>
		</tr>
		{% endfor %}	
	{% endif %}
	
	<tr>
		<td class="headers" colspan="2">Осадки</td>
	</tr>
	<tr>
		<td>Без осадков (%)</td>
		<td><div class="result"> {{ result.no_prec }} </div></td>
	</tr>
	<tr>
		<td>С осадками (%)</td>
		<td><div class="result"> {{ result.prec }} </div></td>
	</tr>
	<tr>
		<td>Наиболее часто встречающиеся осадки</td>
		<td><div class="result"> {{ result.frec_type_prec }} </div></td>
	</tr>
	<tr>
		<td class="headers" colspan="2">Ветер:</td>
	</tr>
	<tr>
		<td>Средняя скорость (м/сек)</td>
		<td><div class="result"> {{ result.wind_speed }}  </div></td>
	</tr>
	<tr>
		<td>Направление ветра</td>
		<td><div class="result"> {{ result.wind_direction }} </div></td>
	</tr>
	</table>  
	</div>



  </body>
</html>


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">