<html>
  <head>
	<title> {{title}} - weatherblog </title>
	<style>
		table {
			margin: auto;
			{
	</style>
  </head>
  <body>
  
	<form action="http://localhost:5000/index" method="POST">
		<table border="0" width="40%" cellpadding="2">
		<tr>
			<td>
			<p>
				<label for="start_data"><b><center>Начало периода</center></label>
				<center><input type="text" name="start_data"/></center>
			</p>
			</td>
			<td>
			<p>
				<label for="end_data"><b><center>Конец периода</center></label>
				<center><input type="text" name="end_data"/></center>
			</p>
			</td>
			<td>
			<p>
				<label for="city_name"><b><center>Город</center></label>
				<center><input type="text" name="city_name"/></center>
			</p>
			</td>
			<tr>
			<td colspan="3">
			<p>
				<center><input type="submit" value="Получить статистику"/></center>
			</p>
			</td>
			</tr>
		</tr>
		</table>
	</form>
	
	<table border="1" width="60%" cellpadding="2">
	<caption> <h2> Результат запроса </h2> </caption>
	<tr>
		<td colspan="2"><b>В городе: {{post_var.city_name}} с {{post_var.start_data}} по  {{post_var.end_data}} </td>
	</tr>
	<tr>
		<td colspan="2"><b> Температура: </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Минимальная температура за период (C<sup>0</sup>)</td>
		<td><center> {{ result.min_temp }} </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Средняя температура за период (C<sup>0</sup>): </td>
		<td><center> {{ result.average_temp }} </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Максимальная температура (C<sup>0</sup>): </td>
		<td><center> {{ result.max_temp }}  </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Наиболее температура была близка: </td>
		<td><center> not calculated  </td>
	</tr>
	
	
	{% if result.temp_by_years %}
		<tr> 
			<td colspan="2"><p style="margin-left: 40px"> Показатели температуры по годам: </td>
		</tr>
		{% for year in result.temp_by_years %}
		<tr>
			<td><p style="margin-left: 100px"> {{ year[0] }} год </td>
			<td><center> min {{ year[2] }}, max {{ year[1]}} </td>
		</tr>
		{% endfor %}	
	{% endif %}
	
	<tr>
		<td colspan="2"><b> Осадки: </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Без осадков (%): </td>
		<td><center> {{ result.no_prec }} </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> С осадками (%): </td>
		<td><center> {{ result.prec }} </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Наиболее часто встречающиеся осадки </td>
		<td><center> {{ result.frec_type_prec }} </td>
	</tr>
	<tr>
		<td colspan="2"><b> Ветер: </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Средняя скорость (м/сек): </td>
		<td><center> {{ result.wind_speed }}  </td>
	</tr>
	<tr>
		<td><p style="margin-left: 40px"> Направление ветра: </td>
		<td><center> {{ result.wind_direction }} </td>
	</tr>
	</table>  
  </body>
</html>